.col {
    padding: 10px;
}

.food-card {
    height: 100%;
    min-height: 189px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    border-radius: 5px;
    background: rgb(144, 146, 146);
    background: linear-gradient(0deg, rgb(216, 218, 218) 0%, rgb(250, 246, 246) 100%);
    opacity: 0.9;
}

.food-card img {
    width: 60%;
    height: 120px;
}

.favourite {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.favourite p {
    font-size: 12px;
}

.favourite .quantity {
    margin-bottom: 0px;
}

.favourite .status-on {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(19, 248, 19);
    border: 1px solid rgb(119, 105, 105);
    border-radius: 999px;
}

.favourite .status-off {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(243, 25, 25);
    border: 1px solid rgb(119, 105, 105);
    border-radius: 999px;
}

.favourite ion-icon {
    font-size: 25px;
    color: #F47E72;
}

.col {
    height: 100%;
    margin-bottom: 10px;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.item-info .card-body {
    padding: 1rem 0px !important;
    width: 90%;
}

.item-info .card-title {
    font-size: 15px;
}

.item-info .card-text {
    color: #F64005;
}

.item-info .price-and-buy p {
    margin-bottom: 0px !important;
}

/* Price, buy button and review */
.item-info .price-and-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info .price-and-buy ion-icon {
    font-size: 30px;
    cursor: pointer;
}

/* .item-info .price-and-buy ion-icon:hover {
    color: #F64005;
} */

.item-info .price-and-buy .checked {
    color: rgb(236, 236, 42);
}

.item-info .price-and-buy .reviewNumber {
    font-size: 12px;
    color: gray;
}

/* buy button */
.item-info .buy-item {
    border: none;
    background-color: white;
}

.item-info .buy-item-off {
    border: none;
    background-color: white;
    cursor: none;
}

.item-info .buy-item:hover ion-icon {
    color: #F64005;
}

